@import url('https://fonts.googleapis.com/css?family=Kristi|Raleway:200,300,400');
$white: #f1f1f1;

.container {
    margin: 0 auto;
    width: 75%;
}

.logo {
    float: left;
    padding: 25px;
    color: #f1f1f1;
    text-decoration: none;
    font-family: 'Kristi', cursive;
    font-size: 58px;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

header {
    position: fixed;
    background: rgba(0, 0, 0, 0.274);
    color: #f1f1f1;
    width: 100%;
    top: 0;  
}

.nav {
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}